.interactive-block {
  background-color: $additional-black;
  text-align: center;
  padding: 120px 0 0;
}

.interactive-block__heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $white;
  margin-bottom: 20px;
}

.interactive-block__text {
  width: 350px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: $white-07;
  margin: 0 auto;
}

.interactive-block__video {
  width: 930px;
  height: 480px;
  transform: translateY(55px);
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  border: 0;

  &:hover {
    .interactive-block__play-button {
      opacity: 0.8;
    }
  }

  &:active {
    .interactive-block__play-button {
      opacity: 0.5;
    }
  }
}

.interactive-block__play-button {
  position: absolute;
  top: 230px;
  margin-left: -36px;
  left: 50%;
  background-color: transparent;
  border: 0;
  width: 65px;
  height: 65px;
  cursor: pointer;
  outline: none;

  &:focus {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .interactive-block {
    padding-top: 70px;
  }

  .interactive-block__heading {
    font-size: 24px;
    line-height: 30px;
  }

  .interactive-block__text {
    width: 430px;
  }

  .interactive-block__video {
    width: 500px;
    height: 235px;
    transform: translateY(40px);
  }

  .interactive-block__play-button {
    top: 95px;
    margin-left: -45px;
  }

  .interactive-block__play-icon {
    width: 90px;
    height: 90px;
  }

  .interactive-block__video-preview {
    width: 503px;
    height: 282px;
  }
}

@media (max-width: $mobile-width) {
  .interactive-block {
    padding: 86px 15px 5px;
  }

  .interactive-block__text {
    width: auto;
  }

  .interactive-block__video {
    min-width: 288px;
    width: auto;
    height: 160px;
    transform: translateY(55px);
    margin: 0 auto;
  }

  .interactive-block__play-button {
    top: 45px;
    margin-left: -38px;
    width: 65px;
    height: 65px;
  }

  .interactive-block__play-icon {
    width: 65px;
    height: 65px;
  }

  .interactive-block__video-preview {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
}
