$tablet-width: 1023px;
$mobile-width: 767px;

$white: #ffffff;
$white-07: rgba(255, 255, 255, 0.7);
$white-08: rgba(255, 255, 255, 0.8);
$second-white: #f6f7f9;
$black: #000000;
$second-black: #1f1f1f;
$second-black-05: rgba(28, 28, 28, 0.5);
$additional-black: #131314;
$grey: rgba(0, 0, 0, 0.5);
$grey-07: rgba(0, 0, 0, 0.7);
$green: #0ad9c6;
$toggle-color: rgba(20, 21, 23, 0.2);
$toggle-color-2: #dadada;
$second-grey: #48494D;
$third-grey: #f6f6f6;
$fourth-grey: #c9ccd4;
